@use "common" as *;

#main_b {
  .banner-2 {
    .text-content__wrapper {
      @include cmmq(993px) {
        display: flex;
        width: 35%;
        background: #141414;
      }

      .text-content {
        position: absolute;
        left: 12%;
        bottom: 50%;
        z-index: 10;
        max-width: 600px;
        transform: translateY(50%);

        @include mq(xs) {
          right: unset;
          left: 0;
          width: 100%;
          transform: unset;
          height: 100%;
          top: 0;
          display: flex;
          flex-flow: column;
          justify-content: space-between;
          padding: 35px 35px 45px;
        }

        h3 {
          margin-bottom: 15px;
          font-size: 83px;
          font-weight: 400;
          font-family: $FrontPageNeue;
          line-height: 76px;
          color: #000000;
          text-transform: uppercase;

          @include mq(lg) {
            font-size: 60px;
            line-height: 56px;
          }

          @include mq(md) {
            font-size: 60px;
            line-height: 56px;
          }

          @include mq(xs) {
            color: #fff;
            font-size: 40px;
            line-height: 36px;
          }
        }

        .read-more {
          display: inline-block;
          font-size: $btn-text;
          font-weight: 400;
          color: #fff;
          background: #000;
          padding: 3px 25px;
          border-radius: 100px;
          font-family: $FrontPageNeue;
          border: 2px solid #000;

          @include mq(lg) {
            font-size: $btn-text-sm;
          }

          @include mq(xs) {
            width: 88px;
            background: #fff;
            color: #000;
            border: 2px solid #fff;
            font-size: $btn-text-sm;
          }

          &:hover {
            color: #000;
            background: transparent;
          }
        }
      }
    }
  }
}

#support_f {
  .banner-2 {
    .text-content {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 50px;
      z-index: 10;
      text-align: center;

      .read-more {
        display: inline-block;
        font-size: $btn-text;
        font-weight: 400;
        color: #fff;
        background: #000;
        padding: 3px 25px;
        border-radius: 100px;
        font-family: $FrontPageNeue;
        text-transform: uppercase;
        border: 2px solid #000;

        @include mq(lg) {
          font-size: $btn-text-sm;
        }

        @include mq(xs) {
          width: auto;
          font-size: $btn-text-sm;
        }

        &:hover {
          color: #000;
          background: transparent;
        }
      }
    }
  }
}

#support_g {
  @include mq(xs) {
    .mt-xs-15 {
      margin-top: 15px;
    }
  }

}

#support_h {

  .slick-slide {
    margin: 0 7.5px;
  }

  /* the parent */
  .slick-list {
    margin: 0 -7.5px;
  }

  .single-slide {
    position: relative;
    overflow: hidden;

    .overlay__wrapper {
      // display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 9;
      opacity: 0;
      // background: rgba(0, 0, 0, 33%);
      // transition: background ease-in-out 5s,
      //   opacity ease-in-out 5s;
      justify-content: center;
      align-items: center;

      .overlay__redirect {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;

        @include mq(xs) {
          display: none;
        }
      }

      .shop__btn {
        font-size: $btn-text;
        font-weight: 400;
        color: #fff;
        background: #000;
        padding: 3px 25px;
        border-radius: 100px;
        font-family: $FrontPageNeue;
        border: 2px solid #000;
        text-transform: uppercase;
        margin-top: 10px;
        // display: none;

        @include mq(xs) {
          font-size: $btn-text-sm;
          display: none;
        }

        &:hover {
          color: #000;
          border: 0;
          background: #fff;
        }
      }

      @include mq(xs) {
        display: flex;
        height: 100%;
        top: unset;
        bottom: 40px;
        opacity: 1;
        align-items: flex-end;
        justify-content: flex-start;
        background: none !important;
      }
    }

    .feature_slider__slide--product-name {
      position: absolute;
      top: 55px;
      left: 75px;
      width: 80%;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 25px;
      z-index: 9;
      color: #ffffff;

      @include mq(xs) {
        position: absolute;
        top: 30px;
        left: 35px;
        font-size: 18px;
        margin-bottom: 0;
      }
    }

    img {
      transition: transform 250ms ease-out 0s;
    }

    &:hover {
      .overlay__wrapper {
        display: flex;
        opacity: 1;
        background: rgba(0, 0, 0, 33%);
        transition: background 250ms ease-out 0s,
          opacity 250ms ease-out 0s;

        @include mq(xs) {
          background: none;
        }
      }

      img {
        @include mq(xs) {
          transform: scale(1.1);
        }
      }
    }
  }

  .slick-dots {
    display: none;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 10px 0 0;
    padding: 0;
    gap: 8px;

    li {
      width: 9px;
      height: 9px;
      background: #000;
      border-radius: 100%;
      border: 1px solid #707070;
      opacity: 0.2;
      cursor: pointer;

      &.slick-active {
        opacity: 1;
      }

      button {
        display: none;
      }
    }

    @include mq(xs) {
      display: flex;
    }
  }
}

#support_i {
  width: 100%;
  margin-bottom: 50px;

  .support__inner-wrapper {
    display: flex;

    .reuse_section__one--left {
      width: 66.5%;
      margin-right: 15px;
      overflow: hidden;

      .reuse_sectionOne--image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.5s;
      }
    }

    .goals__description--slide {
      width: 33.5%;
      padding: 5% 1% 5% 1%;
      background: #4a899f;
      text-align: center;

      .support_section--upperImage {
        margin-bottom: 35px;

        @media screen and (max-width: 1470px) {
          max-width: 75%;
        }
      }

      .goals__description--text {
        margin-bottom: 65px;
        color: #ffffff;
        font-size: 30px;
        line-height: 71px;
        font-weight: 700;
        letter-spacing: 12px;
        text-transform: uppercase;

        @media screen and (max-width: 1470px) {
          font-size: 25px;
        }

        @media screen and (max-width: 1270px) {
          font-size: 21px;
          letter-spacing: 9px;
        }
      }

      .learn__more-btn {
        background: #ffffff;
        padding: 10px 25px;
        border-radius: 30px;
        text-transform: uppercase;
        cursor: pointer;
        font-family: $FrontPageNeue;
        font-weight: 400;
        padding: 5px 15px;
        color: #171717;
        background: #ffffff;
        font-size: 28px;
        letter-spacing: 1.5px;
        border-radius: 30px;
        text-transform: uppercase;
        text-align: center;
        justify-content: center;
        z-index: 999;

        &:hover {
          background: #000000;
          color: #ffffff !important;
        }

        @include mq(xs) {
          margin-left: 35px;
        }
      }
    }
  }
}

#support_i-mobile {
  margin-top: 25px;
  margin-bottom: 25px;

  .dual__swiper__slide {
    position: relative;
    height: 100%;

    .dual__swiper__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .dual__swiper--text-wrapper {
      position: absolute;
      top: 0;
      padding: 9% 9% 15% 10%;
      text-align: center;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      height: 100%;

      .support_section--upperImage {
        margin-bottom: 25px;
      }

      .goals__description--text {
        margin-bottom: 55px;
        color: #ffffff;
        font-size: 40px;
        line-height: 40px;
        font-weight: 700;
        letter-spacing: 10px;
        text-transform: uppercase;

        @media screen and (max-width: 768px) {
          font-size: 22px;
          letter-spacing: 7px;
        }

        @media screen and (max-width: 540px) {
          font-size: 19px;
          letter-spacing: 5px;
        }
      }

      .support_section--bottomImage {
        max-width: 50px;
      }
    }

    &.text__slide {

      // background-color: #4a899f !important;
      .learn__more-btn {
        position: absolute;
        bottom: 60px;
        background: #ffffff;
        width: 154px;
        height: 34px;
        cursor: pointer;
        font-family: $BogsHeadline, Arial, sans-serif;
        font-weight: 400;
        color: #171717;
        background: #ffffff;
        font-size: 24px;
        letter-spacing: 1.5px;
        border-radius: 30px;
        text-transform: uppercase;
        text-align: center;
        justify-content: center;
        line-height: 34px;
        z-index: 999;
      }
    }
  }

  .slick-dots {
    display: none;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 10px 0 0;
    padding: 0;
    gap: 8px;

    li {
      width: 9px;
      height: 9px;
      background: #000;
      border-radius: 100%;
      border: 1px solid #707070;
      opacity: 0.2;
      cursor: pointer;

      &.slick-active {
        opacity: 1;
      }

      button {
        display: none;
      }
    }

    @include mq(xs) {
      display: flex;
    }
  }
}

#support_j {

  @include mq(md) {
    margin-bottom: 25px;
  }

  .give_back--wrapper {
    display: flex;
    justify-content: space-between;

    .gb__left {
      width: 50%;
      margin-left: 20px;
    }

    .gb__right {
      width: 50%;
      flex-flow: column;
      display: flex;
      justify-content: space-between;

      .gb__img__wrapper {
        height: 50%;

        &:nth-of-type(1) {
          margin-bottom: 20px;
        }

        .gb__image {
          width: 100%;
        }
      }
    }

    .overlay__redirect {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;

      @include mq(xs) {
        display: none;
      }
    }

    .gb__img__wrapper {
      position: relative;
      overflow: hidden;
      height: 100%;

      &:hover {
        .overlay__wrapper {
          display: flex;
          opacity: 1;
          flex-flow: column;
          justify-content: space-between;
          align-items: start;
          padding: 50px 35px;
        }

        .gb__image {
          @include mq(xs) {
            transform: scale(1.1);
          }
        }
      }

      .gb__image {
        height: 100%;
        transition: transform 0.5s;
      }
    }

    .overlay__wrapper {
      // display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 9;
      opacity: 0;
      justify-content: flex-start;
      align-items: end;

      &:hover {
        display: flex;
        justify-content: center !important;
        align-items: center !important;
        opacity: 1;
        background: rgba(0, 0, 0, 33%);
        transition: background 250ms ease-out 0s,
          opacity 250ms ease-out 0s;
      }

      .learn__more-btn {
        background: #ffffff;
        padding: 10px 25px;
        border-radius: 30px;
        text-transform: uppercase;
        cursor: pointer;
        font-family: $FrontPageNeue;
        font-weight: 400;
        padding: 5px 15px;
        color: #171717;
        background: #ffffff;
        font-size: 28px;
        letter-spacing: 1.5px;
        border-radius: 30px;
        text-transform: uppercase;
        text-align: center;
        justify-content: center;
        z-index: 999;

        &:hover {
          background: #000000;
          color: #ffffff !important;
        }

        @include mq(xs) {
          margin-left: 35px;
        }
      }

      @include mq(xs) {
        display: flex;
        height: 100px;
        top: unset;
        bottom: 0;
        opacity: 1;
        justify-content: flex-start;
        background: none;
      }
    }
  }
}

#support_j-mobile {
  margin-bottom: 20px;

  .dual__swiper__slide {
    position: relative;

    .dual__swiper__image {
      width: 100%;
    }

    .dual__swiper--text-wrapper {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 30px;
      left: 35px;


      .dual__swiper--text {
        font-family: $BogsHeadline, Arial, sans-serif;
        color: #ffffff;
        // font-weight: 700;
        font-size: 34px;
        line-height: 15px;
        text-transform: uppercase;
      }

      .learn__more-btn {
        position: absolute;
        bottom: 75px;
        background: #ffffff;
        width: 154px;
        height: 34px;
        cursor: pointer;
        font-family: $BogsHeadline, Arial, sans-serif;
        font-weight: 400;
        color: #171717;
        background: #ffffff;
        font-size: 24px;
        letter-spacing: 1.5px;
        border-radius: 30px;
        text-transform: uppercase;
        text-align: center;
        justify-content: center;
        line-height: 34px;
        z-index: 999;

        @media screen and (max-width: 768px) {
          width: unset;
          font-size: 20px;
          letter-spacing: 0;
          padding: 0px 15px 0px 19px;
        }
      }
    }
  }

  .slick-dots {
    display: none;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 10px 0 0;
    padding: 0;
    gap: 8px;

    li {
      width: 9px;
      height: 9px;
      background: #000;
      border-radius: 100%;
      border: 1px solid #707070;
      opacity: 0.2;
      cursor: pointer;

      &.slick-active {
        opacity: 1;
      }

      button {
        display: none;
      }
    }

    @include mq(xs) {
      display: flex;
    }
  }
}

#support_k {

  width: 100%;
  margin-bottom: 50px;

  .support__inner-wrapper {
    display: flex;

    .reuse_section__one--left {
      width: 66.5%;
      margin-left: 20px;
      overflow: hidden;

      .reuse_sectionOne--image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.5s;
      }

      .overlay__wrapper {
        // display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9;
        opacity: 0;

        justify-content: flex-start;
        align-items: end;

        &:hover {
          display: flex;
          justify-content: center !important;
          align-items: center !important;
          opacity: 1;
          background: rgba(0, 0, 0, 33%);
          transition: background 250ms ease-out 0s,
            opacity 250ms ease-out 0s;
        }



        .learn__more-btn {
          background: #ffffff;
          padding: 10px 25px;
          border-radius: 30px;
          text-transform: uppercase;
          cursor: pointer;
          font-family: $FrontPageNeue;
          font-weight: 400;
          padding: 0px 15px 0 19px;
          color: #171717;
          background: #ffffff;
          font-size: 28px;
          letter-spacing: 1.5px;
          border-radius: 30px;
          text-transform: uppercase;
          text-align: center;
          justify-content: center;
          z-index: 999;

          &:hover {
            background: #000000;
            color: #ffffff !important;
          }

          @media screen and (max-width: 768px) {
            margin-left: 35px;
          }
        }

        @media screen and (max-width: 768px) {
          display: flex;
          height: 100px;
          top: unset;
          bottom: 0;
          opacity: 1;
          justify-content: flex-start;
          background: none;
        }
      }

      .overlay__redirect {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;

        @media screen and (max-width: 768px) {
          display: none;
        }
      }

      &:hover {
        .overlay__wrapper {
          display: flex;
          opacity: 1;
          flex-flow: column;
          justify-content: space-between;
          align-items: start;
          padding: 50px 35px;
        }

        .reuse_sectionOne--image {
          @media screen and (min-width: 768px) {
            transform: scale(1.1);
          }
        }
      }
    }

    .goals__description--slide {
      position: relative;
      width: 33.5%;
      overflow: hidden;

      .overlay__wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9;
        opacity: 0;
        justify-content: center;
        align-items: center;

        .overlay__redirect {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;

          @media screen and (max-width: 768px) {
            display: none;
          }
        }

        .shop__btn {

          background: #ffffff;
          padding: 10px 25px;
          border-radius: 30px;
          text-transform: uppercase;
          cursor: pointer;
          font-family: $FrontPageNeue;
          font-weight: 400;
          padding: 0px 15px 0 19px;
          color: #171717;
          background: #ffffff;
          font-size: 28px;
          letter-spacing: 1.5px;
          border-radius: 30px;
          text-transform: uppercase;
          text-align: center;
          justify-content: center;
          z-index: 999;

          &:hover {
            background: #000000;
            color: #ffffff !important;
          }
        }

        @media screen and (max-width: 768px) {
          display: flex;
          height: 100%;
          top: unset;
          bottom: 40px;
          opacity: 1;
          align-items: flex-end;
          justify-content: flex-start;
          background: none !important;
        }
      }

      .support_section--upperImage {
        height: 100%;
        transition: transform 250ms ease-out 0s;
      }

      &:hover {
        .overlay__wrapper {
          display: flex;
          opacity: 1;
          background: rgba(0, 0, 0, 33%);
          transition: background 250ms ease-out 0s,
            opacity 250ms ease-out 0s;

          @media screen and (max-width: 768px) {
            background: none;
          }
        }

        img {
          @media screen and (min-width: 768px) {
            transform: scale(1.1);
          }
        }
      }
    }

  }


}

#support_m {
  position: relative;
  margin-bottom: 40px;

  @media screen and (max-width: 992px) {
    margin-bottom: 70px;
  }

  @media screen and (max-width: 768px) {
    margin-bottom: 22px;
  }

  .warehouse__package__section--heading {
    text-align: center;

    @media screen and (max-width: 768px) {
      margin-top: 20px;
    }

    .warehouse__package__section--heading-text {
      margin-bottom: 12px;
      font-size: 80px;
      line-height: 118px;
      font-family: $BogsHeadline, Arial, sans-serif;
      text-transform: uppercase;

      @media screen and (max-width: 992px) {
        width: 50%;
        margin: 0 auto 15px;
        font-size: 34px;
        line-height: 34px;
      }
    }
  }

  .overlay__container {
    position: absolute;
    width: 30%;
    top: 50%;
    left: 70px;
    padding: 4.85% 2.5% 3.5% 3.25%;
    background: rgba($color: #ffffff, $alpha: 0.32);
    transform: translateY(-40%);

    @media screen and (max-width: 1380px) {
      width: 35%;
    }

    @media screen and (max-width: 1200px) {
      width: 40%;
    }

    @media screen and (max-width: 992px) {
      position: unset;
      width: 100%;
      transform: unset;
      padding: 50px 22px 0 22px;
    }

    @media screen and (max-width: 768px) {
      margin-top: 15px;
      background: #f5f5f5;
      padding-bottom: 25px;
    }

    .wp__overlay__text {
      margin-bottom: 45px;
      font-size: 60px;
      line-height: 60px;
      text-transform: uppercase;
      font-family: $BogsHeadline, Arial, sans-serif;

      @media screen and (max-width: 1550px) {
        font-size: 36px;
        line-height: 36px;
      }

      @media screen and (max-width: 1200px) {
        font-size: 30px;
        line-height: 30px;
      }

      @media screen and (max-width: 992px) {
        margin-bottom: 15px;
        font-size: 32px;
        line-height: 32px;
      }

      @media screen and (max-width: 768px) {
        margin-bottom: 15px;
        font-size: 26px;
        line-height: 26px;
      }
    }

    .wp__overlay__desc {
      font-size: 28px;
      line-height: 50px;

      @media screen and (max-width: 1500px) {
        font-size: 24px;
        line-height: 40px;
      }

      @media screen and (max-width: 1200px) and (min-width: 992px) {
        font-size: 20px;
        line-height: 32px;
      }

      @media screen and (max-width: 992px) {
        font-size: 18px;
        line-height: 24px;
      }
    }
  }
}

#support_n {
  .content__wrapper {
    display: flex;
    justify-content: space-between;

    .left__content {
      width: 50%;
      margin-right: 15px;

      .upper__thumb {
        position: relative;
        margin-bottom: 15px;
      }

      .lower__thumb--wrapper {
        display: flex;
        justify-content: space-between;

        .lower__left-thumb {
          margin-right: 15px;
        }
      }

      img {
        &:hover {
          cursor: pointer;
        }
      }
    }

    .right__content {
      position: relative;
      width: 50%;

      img {
        height: 100%;

        &:hover {
          cursor: pointer;
        }
      }

      .video__btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #ffffff;
        padding: 2px 35px;
        border-radius: 30px;
        text-transform: uppercase;
        cursor: pointer;
        font-family: $FrontPageNeue;
        font-weight: 400;
        color: #171717;
        background: #ffffff;
        font-size: 28px;
        letter-spacing: 1.5px;
        text-align: center;
        justify-content: center;
        z-index: 999;

        &:hover {
          background: #000000;
          color: #ffffff !important;
        }
      }
    }
  }
}

#support_n-mobile {
  margin-bottom: 25px;

  .dual__swiper__slide {
    position: relative;
    height: auto;

    a {
      width: 100%;
    }

    .video-btn.specific__btn {
      position: absolute;
      top: 50%;
      right: 0;
      left: 0;
      width: fit-content;
      height: 30px;
      margin: auto;
      padding: 0px 20px;
      background: #ffffff;
      border-radius: 16px;
      font-size: 20px;
      text-transform: uppercase;
      cursor: pointer;
      font-family: $FrontPageNeue;
      font-weight: 400;
      color: #171717;
      text-align: center;
      justify-content: center;
      z-index: 999;
    }

    .dual__swiper__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .slick-dots {
    display: none;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 10px 0 0;
    padding: 0;
    gap: 8px;

    li {
      width: 9px;
      height: 9px;
      background: #000;
      border-radius: 100%;
      border: 1px solid #707070;
      opacity: 0.2;
      cursor: pointer;

      &.slick-active {
        opacity: 1;
      }

      button {
        display: none;
      }
    }

    @include mq(xs) {
      display: flex;
    }
  }
}

#support_o {
  .content__wrapper {
    display: flex;
    justify-content: space-between;

    .left__content {
      position: relative;
      width: 50%;
      margin-right: 15px;

      img {
        height: 100%;

        &:hover {
          cursor: pointer;
        }
      }

      .text__overlay {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        padding: 0% 6.75% 0%;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        height: 100%;

        .dss__desc {
          margin-bottom: 60px;
          font-size: 30px;
          line-height: 35px;
          text-align: left;
          color: #ffffff;

          @media screen and (max-width: 1665px) and (min-width: 1451px) {
            font-size: 22px;
            line-height: 28px;
            margin-bottom: 45px;
          }

          @media screen and (max-width: 1450px) and (min-width: 1201px) {
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 45px;
          }

          @media screen and (max-width: 1200px) and (min-width: 993px) {
            font-size: 15px;
            line-height: 21px;
            margin-bottom: 30px;
          }

          @media screen and (max-width: 992px) and (min-width: 769px) {
            margin-bottom: 30px;
            font-size: 16px;
            line-height: 18px;
          }

          @media screen and (max-width: 768px) {
            margin-bottom: 30px;
            font-size: 16px;
            line-height: 24px;
          }

          &:nth-child(3) {
            margin-bottom: 0
          }
        }
      }

    }

    .right__content {
      width: 50%;
      

      .upper__thumb-wrapper {
        position: relative;
        margin-bottom: 15px;
        display: flex;
        height: calc(50% - 7.5px);
        justify-content: space-between;

        .upper__left-thumb {
          margin-right: 15px;
        }
      }

      .lower__thumb--wrapper {
        display: flex;
        height: calc(50% - 7.5px);
        justify-content: space-between;

        .lower__left-thumb {
          margin-right: 15px;
        }
      }

      img {
        height: 100%;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

#support_o-mobile {
  margin-bottom: 25px;

  .dual__swiper__slide {
    position: relative;
    height: auto;

    a {
      width: 100%;
    }

    .video-btn.specific__btn {
      position: absolute;
      top: 50%;
      right: 0;
      left: 0;
      width: fit-content;
      height: 30px;
      margin: auto;
      padding: 0px 20px;
      background: #ffffff;
      border-radius: 16px;
      font-size: 20px;
      text-transform: uppercase;
      cursor: pointer;
      font-family: $FrontPageNeue;
      font-weight: 400;
      color: #171717;
      text-align: center;
      justify-content: center;
      z-index: 999;
    }

    .dual__swiper__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .slick-dots {
    display: none;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 10px 0 0;
    padding: 0;
    gap: 8px;

    li {
      width: 9px;
      height: 9px;
      background: #000;
      border-radius: 100%;
      border: 1px solid #707070;
      opacity: 0.2;
      cursor: pointer;

      &.slick-active {
        opacity: 1;
      }

      button {
        display: none;
      }
    }

    @include mq(xs) {
      display: flex;
    }
  }
}

#support_p {
  .content__wrapper {
    display: flex;
    justify-content: space-between;

    .left__content {
      position: relative;
      width: 50%;

      img {
        height: 100%;

        &:hover {
          cursor: pointer;
        }
      }

      
    }

    .right__content {
      width: 50%;
      margin-left: 15px;

      .lower__thumb {
        position: relative;
        margin-top: 15px;
      }

      .upper__thumb--wrapper {
        display: flex;
        justify-content: space-between;

        .lower__left-thumb {
          position: relative;
          margin-right: 15px;
        }
      }

      img {
        &:hover {
          cursor: pointer;
        }
      }
      .video__btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #ffffff;
        padding: 2px 35px;
        border-radius: 30px;
        text-transform: uppercase;
        cursor: pointer;
        font-family: $FrontPageNeue;
        font-weight: 400;
        color: #171717;
        background: #ffffff;
        font-size: 28px;
        letter-spacing: 1.5px;
        text-align: center;
        justify-content: center;
        z-index: 999;

        &:hover {
          background: #000000;
          color: #ffffff !important;
        }
      }
    }
  }
}

#boots_b {

  .slick-slide {
    margin: 0 7.5px;
  }

  /* the parent */
  .slick-list {
    margin: 0 -7.5px;
  }

  .single-slide {
    position: relative;
    overflow: hidden;

    .overlay__wrapper {
      // display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 9;
      opacity: 0;
      justify-content: center;
      align-items: center;

      .overlay__redirect {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;

        @include mq(xs) {
          display: none;
        }
      }

      .shop__btn {
        font-size: $btn-text;
        font-weight: 400;
        color: #fff;
        background: #000;
        padding: 3px 25px;
        border-radius: 100px;
        font-family: $FrontPageNeue;
        border: 2px solid #000;
        text-transform: uppercase;
        margin-top: 10px;
        // display: none;

        @include mq(xs) {
          font-size: $btn-text-sm;
          display: none;
        }

        &:hover {
          color: #000;
          border: 0;
          background: #fff;
        }
      }

      @include mq(xs) {
        display: flex;
        height: 100%;
        top: unset;
        bottom: 40px;
        opacity: 1;
        align-items: flex-end;
        justify-content: flex-start;
        background: none !important;
      }
    }

    .feature_slider__slide--product-name {
      position: absolute;
      top: 55px;
      left: 75px;
      width: 80%;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 25px;
      z-index: 9;
      color: #000000;

      @include mq(xs) {
        position: absolute;
        top: 30px;
        left: 35px;
        font-size: 18px;
        margin-bottom: 0;
      }
    }

    img {
      transition: transform 250ms ease-out 0s;
    }

    &:hover {
      .overlay__wrapper {
        display: flex;
        opacity: 1;
        background: rgba(0, 0, 0, 33%);
        transition: background 250ms ease-out 0s,
          opacity 250ms ease-out 0s;

        @include mq(xs) {
          background: none;
        }
      }

      img {
        @include mq(xs) {
          transform: scale(1.1);
        }
      }
    }
  }

  .slick-dots {
    display: none;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 10px 0 0;
    padding: 0;
    gap: 8px;

    li {
      width: 9px;
      height: 9px;
      background: #000;
      border-radius: 100%;
      border: 1px solid #707070;
      opacity: 0.2;
      cursor: pointer;

      &.slick-active {
        opacity: 1;
      }

      button {
        display: none;
      }
    }

    @include mq(xs) {
      display: flex;
    }
  }
}

#evergreen_b {
  @media screen and (max-width: 992px) {
    margin-bottom: 25px;
  }

  .give_back--wrapper {
    display: flex;
    justify-content: space-between;

    .gb__left {
      width: 50%;
      margin-right: 20px;

      .gb__image {}
    }

    .gb__right {
      width: 50%;
      flex-flow: column;
      display: flex;
      justify-content: space-between;

      .gb__img__wrapper {
        height: 50%;

        &:nth-of-type(1) {
          margin-bottom: 20px;
        }

        .overlay__text {
          top: 12%;
        }

        .gb__image {
          width: 100%;
        }
      }
    }

    .overlay__redirect {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;

      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    .gb__img__wrapper {
      position: relative;
      overflow: hidden;
      height: 100%;

      &:hover {
        .overlay__wrapper {
          display: flex;
          opacity: 1;
          flex-flow: column;
          justify-content: space-between;
          align-items: start;
          padding: 50px 35px;
        }

        .gb__image {
          @media screen and (min-width: 768px) {
            transform: scale(1.1);
          }
        }
      }

      .gb__image {
        height: 100%;
        transition: transform 0.5s;
      }
    }

    .overlay__text {
      position: absolute;
      top: 6%;
      left: 8.5%;
      font-size: 60px;
      // font-weight: 700;
      font-family: $BogsHeadline, Arial, sans-serif;
      color: #ffffff;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      z-index: 9;

      @media screen and (max-width: 1400px) {
        font-size: 50px;
      }

      @media screen and (max-width: 1200px) {
        font-size: 45px;
      }

      @media screen and (max-width: 992px) {
        font-size: 40px;
      }
    }

    .overlay__wrapper {
      // display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 9;
      opacity: 0;

      justify-content: flex-start;
      align-items: end;

      &:hover {
        display: flex;
        justify-content: center !important;
        align-items: center !important;
        opacity: 1;
        background: rgba(0, 0, 0, 33%);
        transition: background 250ms ease-out 0s, opacity 250ms ease-out 0s;
      }

      .learn__more-btn {
        background: #ffffff;
        padding: 10px 25px;
        border-radius: 30px;
        text-transform: uppercase;
        cursor: pointer;
        font-family: $FrontPageNeue;
        font-weight: 400;
        padding: 5px 15px;
        color: #171717;
        background: #ffffff;
        font-size: 28px;
        letter-spacing: 1.5px;
        border-radius: 30px;
        text-transform: uppercase;
        text-align: center;
        justify-content: center;
        z-index: 999;

        &:hover {
          background: #000000;
          color: #ffffff !important;
        }

        @media screen and (max-width: 768px) {
          margin-left: 35px;
        }
      }

      @media screen and (max-width: 768px) {
        display: flex;
        height: 100px;
        top: unset;
        bottom: 0;
        opacity: 1;
        justify-content: flex-start;
        background: none;
      }
    }
  }
}

#evergreen_b-mobile {
  margin-bottom: 25px;

  @media screen and (min-width: 992px) {
    display: none;
  }

  .dual__swiper__slide {
    position: relative;

    .dual__swiper__image {
      width: 100%;
    }

    .dual__swiper--text-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .dual__swiper--text {
        margin-bottom: 0;
        font-family: $BogsHeadline, Arial, sans-serif;
        color: #ffffff;
        // font-weight: 700;
        font-size: 34px;
        line-height: 15px;
        text-align: center;
        text-transform: uppercase;
      }

      .learn__more-btn {
        position: absolute;
        bottom: 110px;
        background: #ffffff;
        width: 154px;
        height: 34px;
        cursor: pointer;
        font-family: $BogsHeadline, Arial, sans-serif;
        font-weight: 400;
        color: #171717;
        background: #ffffff;
        font-size: 24px;
        letter-spacing: 1.5px;
        border-radius: 30px;
        text-transform: uppercase;
        text-align: center;
        justify-content: center;
        line-height: 34px;
        z-index: 999;
      }
    }
  }

  .slick-dots {
    display: none;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 10px 0 0;
    padding: 0;
    gap: 8px;

    li {
      width: 9px;
      height: 9px;
      background: #000;
      border-radius: 100%;
      border: 1px solid #707070;
      opacity: 0.2;
      cursor: pointer;

      &.slick-active {
        opacity: 1;
      }

      button {
        display: none;
      }
    }

    @include mq(xs) {
      display: flex;
    }
  }
}