/* Fonts */

@font-face {
  font-family: 'front_page_neueregular';
  src: url('../../assets/fonts/front_page_neue-frontpageneue.eot');
  src: url('../../assets/fonts/front_page_neue-frontpageneue.eot?#iefix') format('embedded-opentype'),
       url('../../assets/fonts/front_page_neue-frontpageneue.woff2') format('woff2'),
       url('../../assets/fonts/front_page_neue-frontpageneue.woff') format('woff'),
       url('../../assets/fonts/front_page_neue-frontpageneue.ttf') format('truetype'),
       url('../../assets/fonts/front_page_neue-frontpageneue.svg#front_page_neueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
font-family: 'bogs_headlineregular';
src: url('../fonts/bogsheadline-webfont.eot');
src: url('../../assets/fonts/bogsheadline-webfont.eot?#iefix') format('embedded-opentype'),
     url('../../assets/fonts/bogsheadline-webfont.woff2') format('woff2'),
     url('../../assets/fonts/bogsheadline-webfont.woff') format('woff'),
     url('../../assets/fonts/bogsheadline-webfont.ttf') format('truetype'),
     url('../../assets/fonts/bogsheadline-webfont.svg#bogs_headlineregular') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'tradeGothic_bold';
src: url('../fonts/TradeGothicLTStd-Bd2.otf');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'tradeGothic_std';
src: url('../fonts/TradeGothicLTStd.otf');
font-weight: normal;
font-style: normal;
}

.mega-menu-dropdown__reset{
  transform: none !important;
  top: 84px !important;
}


@media screen and (max-width:768px){
  .mega-menu-dropdown__reset{
    position: relative !important;
    transform: none !important;
  }
}

#mobile__menu{
  left: -1000px;
  top: 134px;
  transition:left .25s ease-in-out;
}
#mobileMenu__overlay{
  /* display: none; */
  position: absolute;
  top: 134px;
  right:0;
    background-color: rgba(0,0,0,0.37);
    height: calc(100% - 134px);
    width: 100%;
    opacity: 0;
    transition: opacity .75s ease-in-out;
    z-index: -1;
}
#mobile__menu.opened{
  left: 0;
}
#mobile__menu.opened + #mobileMenu__overlay{
  /* display: block; */
  z-index: 9;
  opacity: 1;
}

.close__icon{
    width: 30px;
    display: inline-block;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:sketch='http://www.bohemiancoding.com/sketch/ns' width='800px' height='800px' viewBox='0 0 32 32' version='1.1'%3E%3Ctitle%3Ecross-circle%3C/title%3E%3Cdesc%3ECreated with Sketch Beta.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' sketch:type='MSPage'%3E%3Cg id='Icon-Set' sketch:type='MSLayerGroup' transform='translate(-568.000000, -1087.000000)' fill='%23000000'%3E%3Cpath d='M584,1117 C576.268,1117 570,1110.73 570,1103 C570,1095.27 576.268,1089 584,1089 C591.732,1089 598,1095.27 598,1103 C598,1110.73 591.732,1117 584,1117 L584,1117 Z M584,1087 C575.163,1087 568,1094.16 568,1103 C568,1111.84 575.163,1119 584,1119 C592.837,1119 600,1111.84 600,1103 C600,1094.16 592.837,1087 584,1087 L584,1087 Z M589.717,1097.28 C589.323,1096.89 588.686,1096.89 588.292,1097.28 L583.994,1101.58 L579.758,1097.34 C579.367,1096.95 578.733,1096.95 578.344,1097.34 C577.953,1097.73 577.953,1098.37 578.344,1098.76 L582.58,1102.99 L578.314,1107.26 C577.921,1107.65 577.921,1108.29 578.314,1108.69 C578.708,1109.08 579.346,1109.08 579.74,1108.69 L584.006,1104.42 L588.242,1108.66 C588.633,1109.05 589.267,1109.05 589.657,1108.66 C590.048,1108.27 590.048,1107.63 589.657,1107.24 L585.42,1103.01 L589.717,1098.71 C590.11,1098.31 590.11,1097.68 589.717,1097.28 L589.717,1097.28 Z' id='cross-circle' sketch:type='MSShapeGroup'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.collapse-open>.collapse-content, .collapse:focus:not(.collapse-close)>.collapse-content, .collapse:not(.collapse-close)>input[type=checkbox]:checked~.collapse-content, .collapse:not(.collapse-close)>input[type=radio]:checked~.collapse-content, .collapse[open]>.collapse-content{
  padding-top: 48px;
}

.mobile__nav-row ul li{
  margin-top: 5px !important;
}

.video__play-btn {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  display: inline-block;
  width: 75px;
  height: 87px;
  margin: auto;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='86.603' viewBox='0 0 75 86.603' style='&%2310;'%3E%3Cpath id='Path_199' data-name='Path 199' d='M0,0V86.6L37.5,64.952,75,43.3,37.5,21.65Z' fill='%23fff' opacity='0.733' style='&%2310;'/%3E%3C/svg%3E");
}

.video__item:hover .video__play-btn{
  opacity: 0.7;
}

.reuse__icon {
  display: inline-block;
  max-width: 207px;
  max-height: 237px;
  width: 12vw;
  height: 13vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='229.313' height='259.991' viewBox='427.639 354.509 229.313 259.991' style='&%2310; /* background: red; */&%2310;'%3E%3Cg data-name='Group 2548'%3E%3Cg data-name='Group 2546'%3E%3Cg data-name='Group 2545' transform='translate(427.639 354.51)' clip-path='url(&quot;%23a&quot;)'%3E%3Cpath d='M64.368 90.765c2.049 1.345 2.186 2.432 2.04 3.86l.04.027c.987-.877 2.694-.753 4.374.35l2.233 1.465c.881.579 1.435.942 2.163 1.127l.205.135-1.936 2.95c-.429-.017-1.104-.373-1.719-.776l-2.91-1.91c-1.188-.78-1.881-.795-2.513.168l-.283.43 4.651 3.052 1.51.962-2.045 3.114-1.482-1.002-11.659-7.652-1.508-.962 2.77-4.22c1.587-2.418 3.63-2.718 5.967-1.185l.102.067Zm-1.072 6.01.363-.553c.538-.82.31-1.41-.653-2.041l-.267-.175c-.962-.632-1.533-.567-2.071.252l-.363.554 2.991 1.963Z' fill='%23fff' fill-rule='evenodd' data-name='Path 1232'/%3E%3Cpath d='m73.984 89.13 2.523 2.503 3.14-3.167 2.489 2.467-5.747 5.795-1.253-1.277-9.9-9.82-1.288-1.243 5.695-5.742 2.488 2.468-3.089 3.115 2.453 2.433 2.762-2.784 2.488 2.468-2.761 2.784Z' fill='%23fff' fill-rule='evenodd' data-name='Path 1233'/%3E%3Cpath d='m81.225 70.29.97 1.504 6.145 9.246c1.75 2.633 1.36 5.012-1.11 6.653-2.47 1.642-4.875 1.122-6.625-1.511l-6.146-9.246-1.01-1.477 3.102-2.062.97 1.504 6.064 9.123c.543.817 1.045 1.13 1.698.696.674-.448.56-1.019.016-1.835L78.245 72.27l2.98-1.98Z' fill='%23fff' fill-rule='evenodd' data-name='Path 1234'/%3E%3Cpath d='m92.652 77.2.372.96c.585 1.507 1.54 2.004 2.546 1.614.89-.346 1.108-1.14.763-2.032-.39-1.005-1.201-1.4-2.967-1.818l-1.907-.443c-2.166-.5-3.257-1.549-3.914-3.24-1.188-3.061.188-5.41 2.701-6.385 2.376-.922 5.005-.313 6.415 3.32l.257.663-3.015 1.17-.169-.434c-.612-1.576-1.458-2.063-2.417-1.69-.755.292-1.103.953-.757 1.844.213.548.632 1.017 2.607 1.433l1.921.411c3.302.717 4.258 2.843 4.56 3.62 1.17 3.015.077 5.412-2.71 6.494-2.537.985-5.577.534-6.978-3.075l-.461-1.188 3.153-1.224Z' fill='%23fff' fill-rule='evenodd' data-name='Path 1235'/%3E%3Cpath d='m105.063 72.88.587 3.504 4.4-.737.579 3.457-8.05 1.348-.27-1.768-2.305-13.753-.32-1.76 7.977-1.337.579 3.456-4.327.725.571 3.408 3.867-.648.58 3.456-3.868.649Z' fill='%23fff' fill-rule='evenodd' data-name='Path 1236'/%3E%3Cpath d='m125.848 80.08-3.897-.445-.076-1.71-2.922-.335-.436 1.653-3.652-.417 5.64-16.995 3.653.417 1.69 17.832Zm-6.014-5.67 1.875.214-.19-6.115-.122-.014-1.563 5.915Z' fill='%23fff' fill-rule='evenodd' data-name='Path 1237'/%3E%3Cpath d='m130.272 81.413.754-1.623 5.527-12.805.686-1.653 4.748 2.05c2.656 1.146 3.192 3.059 2.084 5.624l-.068.158c-.747 1.733-1.642 3.001-3.531 2.8l-.038.09c1.46 1.192 1.37 2.514.448 4.652l-.194.45c-1.282 2.97-3.394 3.287-5.645 2.316l-4.771-2.06Zm5.465-1.219c.855.37 1.39.12 1.895-1.05l.243-.563c.495-1.148.284-1.773-.526-2.122l-.742-.321-1.613 3.736.743.32Zm2.18-7.094.609.262c.9.389 1.44.062 1.897-.996l.126-.292c.457-1.058.294-1.609-.606-1.997l-.607-.263-1.418 3.286Z' fill='%23fff' fill-rule='evenodd' data-name='Path 1238'/%3E%3Cpath d='M143.535 88.696c-3.727-2.669-1.544-5.929.282-8.48l2.312-3.228c1.84-2.571 4.222-5.688 7.95-3.02 3.726 2.667 1.757 5.628-.297 8.498l-2.312 3.229c-2.04 2.85-4.208 5.668-7.935 3m2.815-5.7c-1.027 1.434-1.583 2.212-.746 2.81.837.6 1.393-.177 2.42-1.613l3.239-4.524c1.027-1.434 1.584-2.212.747-2.811-.837-.599-1.394.178-2.421 1.613l-3.239 4.524Z' fill='%23fff' fill-rule='evenodd' data-name='Path 1239'/%3E%3Cpath d='M151.49 95.769c-3.085-3.389-.269-6.12 2.051-8.233l2.936-2.673c2.337-2.129 5.32-4.679 8.405-1.29 3.086 3.389.541 5.872-2.068 8.248l-2.936 2.674c-2.591 2.36-5.301 4.662-8.387 1.274m3.945-4.986c-1.304 1.188-2.011 1.832-1.318 2.593.693.76 1.4.117 2.705-1.071l4.113-3.746c1.305-1.188 2.012-1.832 1.319-2.593-.694-.761-1.4-.118-2.705 1.07l-4.114 3.747Z' fill='%23fff' fill-rule='evenodd' data-name='Path 1240'/%3E%3Cpath d='m170.786 98.175-10.5 6.27-1.525.94-1.91-3.2 1.55-.896 10.5-6.27-1.634-2.736 3.01-1.797 5.151 8.628-3.009 1.797-1.633-2.736Z' fill='%23fff' fill-rule='evenodd' data-name='Path 1241'/%3E%3Cpath d='M164.944 169.226c-2.049-1.344-2.186-2.43-2.04-3.86l-.04-.026c-.987.877-2.694.753-4.374-.35l-2.233-1.466c-.881-.578-1.434-.941-2.163-1.126l-.205-.135 1.937-2.95c.428.017 1.104.373 1.718.776l2.91 1.91c1.188.78 1.882.795 2.514-.168l.282-.43-4.65-3.052-1.51-.962 2.044-3.114 1.482 1.002 11.659 7.652 1.509.962-2.77 4.22c-1.588 2.418-3.632 2.718-5.967 1.185l-.103-.068Zm1.072-6.01-.363.554c-.538.82-.31 1.41.653 2.041l.267.175c.963.632 1.533.567 2.071-.253l.364-.553-2.992-1.963Z' fill='%23fff' fill-rule='evenodd' data-name='Path 1242'/%3E%3Cpath d='m155.328 170.862-2.523-2.503-3.14 3.167-2.489-2.468 5.747-5.794 1.253 1.277 9.901 9.82 1.287 1.242-5.695 5.743-2.488-2.468 3.09-3.115-2.454-2.434-2.762 2.785-2.488-2.468 2.761-2.784Z' fill='%23fff' fill-rule='evenodd' data-name='Path 1243'/%3E%3Cpath d='m148.087 189.701-.97-1.503-6.145-9.246c-1.75-2.633-1.36-5.012 1.11-6.653 2.47-1.642 4.875-1.122 6.626 1.511l6.145 9.246 1.01 1.477-3.101 2.062-.97-1.504-6.065-9.123c-.542-.817-1.045-1.13-1.698-.696-.674.447-.559 1.019-.016 1.835l7.054 10.614-2.98 1.98Z' fill='%23fff' fill-rule='evenodd' data-name='Path 1244'/%3E%3Cpath d='m136.66 182.792-.372-.96c-.585-1.508-1.54-2.004-2.546-1.614-.89.346-1.108 1.14-.762 2.031.39 1.006 1.2 1.4 2.967 1.82l1.907.442c2.166.5 3.256 1.549 3.913 3.24 1.188 3.061-.187 5.41-2.701 6.385-2.376.922-5.005.313-6.415-3.32l-.257-.663 3.015-1.17.17.434c.61 1.576 1.457 2.063 2.417 1.69.754-.292 1.102-.953.756-1.844-.213-.548-.631-1.017-2.607-1.433l-1.92-.411c-3.302-.717-4.26-2.843-4.56-3.62-1.171-3.015-.078-5.412 2.71-6.494 2.536-.985 5.576-.535 6.978 3.075l.46 1.188-3.152 1.224Z' fill='%23fff' fill-rule='evenodd' data-name='Path 1245'/%3E%3Cpath d='m124.25 187.112-.588-3.505-4.4.737-.578-3.456 8.049-1.348.271 1.768 2.304 13.753.32 1.76-7.976 1.337-.58-3.456 4.327-.725-.57-3.408-3.868.647-.58-3.456 3.868-.648Z' fill='%23fff' fill-rule='evenodd' data-name='Path 1246'/%3E%3Cpath d='m103.465 179.912 3.896.445.076 1.71 2.922.334.436-1.652 3.653.417-5.64 16.994-3.654-.416-1.69-17.832Zm6.013 5.67-1.875-.215.19 6.116.122.013 1.563-5.914Z' fill='%23fff' fill-rule='evenodd' data-name='Path 1247'/%3E%3Cpath d='m99.04 178.579-.754 1.623-5.527 12.805-.686 1.652-4.748-2.049c-2.656-1.146-3.192-3.06-2.084-5.625l.067-.157c.748-1.733 1.643-3.002 3.532-2.8l.038-.09c-1.46-1.192-1.37-2.514-.448-4.653l.194-.45c1.282-2.97 3.394-3.286 5.645-2.315l4.77 2.059Zm-7.646 8.313-.608-.262c-.9-.389-1.441-.062-1.898.995l-.126.293c-.456 1.058-.294 1.609.606 1.997l.608.262 1.418-3.285Zm2.181-7.094c-.855-.37-1.39-.12-1.895 1.05l-.243.563c-.495 1.148-.284 1.773.526 2.122l.742.32 1.613-3.735-.743-.32Z' fill='%23fff' fill-rule='evenodd' data-name='Path 1248'/%3E%3Cpath d='M85.777 171.296c3.727 2.668 1.544 5.928-.282 8.48l-2.312 3.228c-1.84 2.57-4.222 5.688-7.95 3.02-3.726-2.668-1.757-5.629.297-8.499l2.311-3.228c2.04-2.85 4.209-5.669 7.936-3.001m-2.815 5.701c1.027-1.435 1.583-2.212.746-2.811-.837-.6-1.393.178-2.42 1.613l-3.239 4.524c-1.027 1.435-1.584 2.212-.747 2.812.837.599 1.394-.179 2.421-1.614l3.239-4.524Z' fill='%23fff' fill-rule='evenodd' data-name='Path 1249'/%3E%3Cpath d='M77.822 164.223c3.086 3.389.269 6.12-2.05 8.232l-2.936 2.674c-2.338 2.128-5.32 4.678-8.406 1.29-3.086-3.389-.54-5.873 2.069-8.249l2.935-2.673c2.591-2.36 5.302-4.663 8.388-1.274m-3.946 4.986c1.305-1.188 2.011-1.832 1.318-2.593-.693-.761-1.4-.118-2.704 1.07l-4.114 3.747c-1.305 1.188-2.011 1.832-1.318 2.593.693.76 1.4.117 2.704-1.071l4.114-3.746Z' fill='%23fff' fill-rule='evenodd' data-name='Path 1250'/%3E%3Cpath d='m58.527 161.816 10.5-6.27 1.524-.938 1.91 3.199-1.55.896-10.5 6.27 1.634 2.735-3.01 1.797-5.151-8.627 3.01-1.797 1.633 2.735Z' fill='%23fff' fill-rule='evenodd' data-name='Path 1251'/%3E%3Cpath d='M216.858 192.249c4.597 4.106 11.966.846 11.966-5.365 0-60.462 6.982-101.886-31.823-140.691C158.342 7.534 116.827 14.37 59.682 14.37 59.682 9.204 60.897 0 52.475 0 48.593 0 4.403 33.88 4.32 33.96c-4.057 3.986-3.143 10.45.452 13.128 47.26 35.223 28.712 21.796 37.94 28.42a89.47 89.47 0 0 0-6.81 10.059l-23.97-17.205C7.308 64.28 0 67.602 0 73.756v63.215c0 60.048 48.594 108.65 108.65 108.65h60.491v7.178c0 6.165 7.337 9.487 11.957 5.372l43.209-31.948c3.92-3.853 3.784-9.495-.063-13.176-42.802-31.907-35.276-26.512-36.881-27.665-3.11-2.231-1.982.853 4.846-11.536l24.65 18.403Zm-34.46-10.43c-2.084-1.496-3.353-2.749-6.05-2.749-8.467 0-7.207 8.782-7.207 16.637 0 .763-22.081 20.72-55.603 20.746-71.183-.055-111.663-82.348-67.623-138.647 2.322 1.667 3.7 3.115 6.56 3.115 8.41 0 7.207-8.72 7.207-16.638 0-1.224 21.842-19.455 53.856-19.48 70.24.055 111 80.41 68.86 137.016m-12.588 59.875h-61.16c-57.837 0-104.723-46.886-104.723-104.723 0-65.955-1.38-66.48 3.28-66.48 1.436 0-.462-1.018 26.78 18.536-17.483 33.337-12.715 76.23 16.098 105.047 33.843 33.85 87.768 35.005 122.983 3.688 0-22.271-4.707-21.467 48.636 18.29a5 5 0 0 1 .047 7.177c-47.687 35.259-43.982 32.835-45.403 32.835-7.175 0 .646-14.37-6.538-14.37M55.755 7.192c0 5.837-1.087 11.105 3.258 11.105h61.16c57.837 0 104.723 46.886 104.723 104.723v63.864c0 2.877-3.457 4.343-5.524 2.34l-25.321-18.903c29.003-58.702-13.258-129.393-80.51-129.445-36.847 0-56.648 21.013-57.786 21.011 0 22.757 4.931 21.975-48.635-17.947a5 5 0 0 1-.047-7.178L50.23 4.852c2.067-2.002 5.524-.538 5.524 2.34' fill='%23fff' fill-rule='evenodd' data-name='Path 1252'/%3E%3Cpath d='M113.539 93.456c-20.537.032-37.125 16.643-37.198 37.165.073 20.514 16.661 37.148 37.198 37.18 20.518-.032 37.134-16.666 37.189-37.18-.055-20.522-16.671-37.133-37.19-37.165m-33.27 37.151c.065-18.278 14.993-33.195 33.277-33.224 18.282.029 33.206 14.944 33.256 33.249-.05 18.29-14.97 33.21-33.262 33.242-18.28-.032-33.205-14.954-33.271-33.267' fill='%23fff' fill-rule='evenodd' data-name='Path 1253'/%3E%3Cpath d='M55.755 130.04a3.407 3.407 0 1 1-6.814 0 3.407 3.407 0 0 1 6.814 0' fill='%23fff' fill-rule='evenodd' data-name='Path 1254'/%3E%3Cpath d='M177.698 129.945a3.407 3.407 0 1 1-6.813 0 3.407 3.407 0 0 1 6.813 0' fill='%23fff' fill-rule='evenodd' data-name='Path 1255'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath d='M0 0h229.313v259.991H0V0z' data-name='Rectangle 1966'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

/* Swiper Styles START */

.featured__products__swiper .swiper-pagination{
  bottom: 0 !important;
}
.featured__products__swiper .swiper-pagination .swiper-pagination-bullet{
  background: #000000;
  opacity: 0.3;
}
.featured__products__swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
  background: #000000;
  opacity: 1;
}

/* For Dual Swiper */
.dual__swiper .swiper-pagination .swiper-pagination-bullet{
  background: #000000;
  opacity: 0.3;
}
.dual__swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
  background: #000000;
  opacity: 1;
}
/* For Full width Swiper */
.fullWidth__swiper .swiper-pagination .swiper-pagination-bullet{
  background: #000000;
  opacity: 0.3;
}
.fullWidth__swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
  background: #000000;
  opacity: 1;
}

.fullWidth__swiper .swiper-pagination{
  display: block;
}

/* Swiper Styles END */


/* #search::placeholder {
  line-height: 90px;
  } */











@media screen and (min-width: 1921px) {
  .technology__heading{
    font-size: 83px;
  }
  .technology__subheading{
    font-size: 24px;
  }
}


/* for flex item 3 */
/* flex: 0 0 33.3333%; */