@use "common" as *;

#evergreen_b {
    @media screen and (max-width: 992px) {
      margin-bottom: 25px;
    }
  
    .give_back--wrapper {
      display: flex;
      justify-content: space-between;
  
      .gb__left {
        width: 50%;
        margin-right: 20px;
      }
  
      .gb__right {
        width: 50%;
        flex-flow: column;
        display: flex;
        justify-content: space-between;
  
        .gb__img__wrapper {
          height: 50%;
  
          &:nth-of-type(1) {
            margin-bottom: 20px;
          }
  
          .overlay__text {
            top: 12%;
          }
  
          .gb__image {
            width: 100%;
          }
        }
      }
  
      .overlay__redirect {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
  
        @media screen and (max-width: 768px) {
          display: none;
        }
      }
  
      .gb__img__wrapper {
        position: relative;
        overflow: hidden;
        height: 100%;
  
        &:hover {
          .overlay__wrapper {
            display: flex;
            opacity: 1;
            flex-flow: column;
            justify-content: space-between;
            align-items: start;
            padding: 50px 35px;
          }
  
          .gb__image {
            @media screen and (min-width: 768px) {
              transform: scale(1.1);
            }
          }
        }
  
        .gb__image {
          height: 100%;
          transition: transform 0.5s;
        }
      }
  
      .overlay__text {
        position: absolute;
        top: 6%;
        left: 8.5%;
        font-size: 60px;
        // font-weight: 700;
        font-family: $BogsHeadline, Arial, sans-serif;
        color: #ffffff;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        z-index: 9;
  
        @media screen and (max-width: 1400px) {
          font-size: 50px;
        }
  
        @media screen and (max-width: 1200px) {
          font-size: 45px;
        }
  
        @media screen and (max-width: 992px) {
          font-size: 40px;
        }
      }
  
      .overlay__wrapper {
        // display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9;
        opacity: 0;
  
        justify-content: flex-start;
        align-items: end;
  
        &:hover {
          display: flex;
          justify-content: center !important;
          align-items: center !important;
          opacity: 1;
          background: rgba(0, 0, 0, 33%);
          transition: background 250ms ease-out 0s, opacity 250ms ease-out 0s;
        }
  
        .learn__more-btn {
          background: #ffffff;
          padding: 10px 25px;
          border-radius: 30px;
          text-transform: uppercase;
          cursor: pointer;
          font-family: $FrontPageNeue;
          font-weight: 400;
          padding: 5px 15px;
          color: #171717;
          background: #ffffff;
          font-size: 28px;
          letter-spacing: 1.5px;
          border-radius: 30px;
          text-transform: uppercase;
          text-align: center;
          justify-content: center;
          z-index: 999;
  
          &:hover {
            background: #000000;
            color: #ffffff !important;
          }
  
          @media screen and (max-width: 768px) {
            margin-left: 35px;
          }
        }
  
        @media screen and (max-width: 768px) {
          display: flex;
          height: 100px;
          top: unset;
          bottom: 0;
          opacity: 1;
          justify-content: flex-start;
          background: none;
        }
      }
    }
  }
  
  #evergreen_b-mobile {
    margin-bottom: 25px;
  
    @media screen and (min-width: 992px) {
      display: none;
    }
  
    .dual__swiper__slide {
      position: relative;
  
      .dual__swiper__image {
        width: 100%;
      }
  
      .dual__swiper--text-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
  
        .dual__swiper--text {
          margin-bottom: 0;
          font-family: $BogsHeadline, Arial, sans-serif;
          color: #ffffff;
          // font-weight: 700;
          font-size: 34px;
          line-height: 15px;
          text-align: center;
          text-transform: uppercase;
        }
  
        .learn__more-btn {
          position: absolute;
          bottom: 110px;
          background: #ffffff;
          width: 154px;
          height: 34px;
          cursor: pointer;
          font-family: $BogsHeadline, Arial, sans-serif;
          font-weight: 400;
          color: #171717;
          background: #ffffff;
          font-size: 24px;
          letter-spacing: 1.5px;
          border-radius: 30px;
          text-transform: uppercase;
          text-align: center;
          justify-content: center;
          line-height: 34px;
          z-index: 999;
        }
      }
    }
  
    .slick-dots {
      display: none;
      align-items: center;
      justify-content: center;
      list-style: none;
      margin: 10px 0 0;
      padding: 0;
      gap: 8px;
  
      li {
        width: 9px;
        height: 9px;
        background: #000;
        border-radius: 100%;
        border: 1px solid #707070;
        opacity: 0.2;
        cursor: pointer;
  
        &.slick-active {
          opacity: 1;
        }
  
        button {
          display: none;
        }
      }
  
      @include mq(xs) {
        display: flex;
      }
    }
  }